[Unit]
Description=Jenkins - Continue Integration
After=network.target

[Service]
User=jenkins
Type=forking
ExecStart=JENKINS_START
ExecStop=JENKINS_STOP

[Install]
WantedBy=graphical.target
